{{> header}}

<div>
    {{#with gameDetails}}
    <div class="detail__back">
        <div class="back">
            <a href="/"><img src="/images/arrow.png" alt="back_button"></a>
        </div>
    </div>
    <div class="detail__wrapper">
        <div class="background"
            style="background-image: linear-gradient(rgba(32, 32, 32, 0.5), rgb(32, 32, 32) 70%), url({{background_image}}) ;">
            <div class="detail__content">
                <div class="breadcrumb__detail">
                    <p><a href="./">Genres</a> / <span>Games</span> / <a href="{{website}}">{{name}}</a></p>
                </div>
                <h1>{{name_original}}</h1>
                <div class="detail__release__date">
                    <p>Release Date:</p>
                    <p>{{released}}</p>
                </div>
                <div class="About">
                    <h2>About</h2>
                    {{{description}}}
                </div>
                <div class="detail__info__wrapper">
                    <div class="game__info">
                        <div class="info__wrapper">
                            <div class="detail__game__info">
                                <p>Platforms</p>
                                <div class="name">
                                    {{#each platforms}}
                                    <p>{{platform.name}}</p>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="detail__game__info">
                                <p>genres</p>
                                <div class="name">
                                    {{#each genres}}
                                    <p>{{name}}</p>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="detail__game__info">
                                <p>Developers</p>
                                <div class="name">
                                    {{#each developers}}
                                    <p>{{name}}</p>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="detail__game__info">
                                <p>Publishers</p>
                                <div class="name">
                                    {{#each publishers}}
                                    <p>{{name}}</p>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="detail__game__info">
                                <p>Stores</p>
                                <div class="name">
                                    {{#each stores}}
                                    <a href="{{url}}">
                                        <p>{{store.name}}</p>
                                    </a>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="game__video">
                        <video width="600" controls>
                            <source src="{{clip.clip}}" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</div>