{{> header}}

<div class="wrap">
  {{#each genres.results}}
  <div class="card__wrapper">
    <div class="card">
      <div class="image">
        <img class="lazy" src="{{image_background}}" alt="" />
      </div>
      <div class="card__content">
        <a href="/genres/{{slug}}">
          <h1>{{name}}</h1>
        </a>
        <div class="content__total-games">
          <p>Total games: </p>
          <p>{{games_count}}</p>
        </div>
        {{#each games}}
        <div class="content__populair-games">
          <a class="game-name" href="/details/{{slug}}">{{name}}</a>
          <div class="games__added">
            <p>{{added}} </p>
            <img src="/images/add.png" alt="add_person">
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{> scripts}}