<%- include('partials/head') %>

<h1><%= title %></h1>

<ul class="movie-list">
    <% games.results.forEach(result => { %>
    <li>
        <a href="/game/<%= result.slug %>" class="movie-poster body-petite">
            <%= result.name %>
            <img src="<%= result.background_image %>" alt="Movie poster of <%= result.slug%>."
                class="movie-poster__image" style="width: 100px; height: 100px;">
        </a>
    </li>
    <% }) %>
</ul>

<%- include('partials/footer') %>